html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, 
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, 
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, 
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video { 

margin: 0; 
padding: 0; 
border: 0; 
font-size: 100%; 
vertical-align: baseline; 
} 
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, 
section { 
display: block; 
} 
body { 
line-height: 1.2; 
font-family: 'Source Sans Pro', sans-serif;
} 
ol { 
padding-left: 1.4em; 
list-style: decimal; 
} 
ul { 
padding-left: 1.4em 
list-style: square; 
} 
table { 
border-collapse: collapse; 
border-spacing: 0; 
}
.header{
}
.top-menu
{
  background-image: url(/img/mb2.jpg);
}
.logo{
  padding: 20px;
	margin: 0 auto 0 auto ; 
}

.contacts
{
  float:right; 
  color:white; 
  margin: 33 0;
  cursor:pointer;
}
.home-pic  {
	width:10px;
	height:10px;
}
.company-name
{
  float: left;
  height: 40px;
  padding: 35 10 35 0;
  color: white;
  font-size: 30px;
  font-family: 'Marmelad', sans-serif;
}

#selected
{
  border: 0px solid #ADC0CE;
  border-radius: 15px;
  background-color: white;
}

#none-copy
{
   -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer */
   -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none;
  cursor:pointer;
}

#none-copy-np
{
   -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer */
   -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none;
}


.banner
{
  background-image: url(/img/info-back.jpg); 
  background-size: cover; 
  height: 300px;
}
.banner-items
{
  width: 930px ; 
  margin: 0 auto;
}
.banner-img
{
   position: absolute; 
   padding: 9 0; 
}
.banner-img img
{
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  width: 100%;
}
.banner-words
{
   float: right; 
   padding: 5em 0 0 15; 
   width: 270px; 
   overflow: hidden;
}
.banner-words-1
{
  font-size: 37px;
  color: white; 
}

.banner-words-2
{
  font-size: 20px; 
  color: white ; 
  text-align: center;
}

.menu-right li {
    list-style-type: square;
    color:  #002FD1;
     /* Убираем маркеры у списка */
   }
/*.menu-right li:before {
    content: "҈ "; /* Добавляем в качестве маркера символ 
   }*/
/*.menu-right  li a:hover {
      border: 0px solid #ADC0CE;
  border-radius: 15px;
  background-color: grey;
  color:white;
}
*/
.pics {
  display: inline-block;
  
}
.image {
  display: inline-block;
  width: auto;
  height: 120px;
   box-shadow: 0 0 15px ;
}
.image input[type="checkbox"] {
  display: none;

}
.image input + label {
  display: block;
  width: auto;
  height: 120px;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;

}
.image input:checked + label  {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;

/*  transform: translate(calc(2em + 160px - 100vw), calc(0px - 120px - 2em));
*/
  background-color: rgba(10,10,10,.9);
  background-size: 60vw;
  z-index: 99999;
}

.container
{
  width: 930px; 
  margin: 0 auto;
}

.container-left {
    box-shadow: 7px -3px 10px -5px #333;
    float: left;
    width:640px;
    padding-bottom: 20px;
}

.service-label
{
  font-size: 30px; 
  text-align: center; 
  padding: 30 0 20 0;
}
.services-label
{
  font-size: 30px; 
  margin-left: 20%;
}


.service-img
{
  padding: 0 20;
}

.service-img img
{
  width: 600px; 
  box-shadow: 0 0 10px 
}

.service-text
{
  font-size: 17px; 
  padding: 20 20; 
  text-indent: 30px; 
  text-align: justify;
}

.fnk-crm
{
  font-size: 20px; 
  padding: 0 20; 
  text-align: justify; 
  border-top: 1px dashed #666;
  border-bottom: 1px dashed #666; 
  box-shadow: 0 10px 6px -6px #d6d5d5;
  padding: 10px;
}

.customers-img
{
  margin: 50 0;
}

.customers-img img
{
  height:100px; 
  float:left;  
  margin: 20px;
}

.services-img img
{
  height:100px; 
  float:left;  
}

.works-text
{
  font-size: 30px; 
  text-align: center; 
  padding: 0 0 20 0
}

.menu-right
{
  width: 290px;
  float: right;
}

.services-name
{
  margin: 30px 0 0 65px; 
  font-size: 25px;
}

.all-services
{
  margin-left:30px; 
  margin-top:20px;
}

.all-services li
{
  padding-bottom:5px
}

.service-button
{
    display: none;
}

.footer
{
  float: left; 
  width: 100%; 
  text-align: center; 
  color: white;
  padding:20px 0;
  background-image: url(/img/footer.jpg);
}

.footer-text
{
  padding-right: 50px; 
  display: inline-block;
}

.footer-sn
{
  display: inline-block; 
  margin-left: 1vw;
}

.footer-sn img
{
  width: 30px; 
  margin: 0 5;
}

.contact-form
{
  text-align: center; 
  width: 400px; 
  height: 345px; 
  background-image: url(/img/menu-back.jpg); 
  border-radius: 15px ; 
  margin: 15 auto;
}

.contact-form h3
{
  font-size : 25px; 
  text-align : center; 
  color: white; 
  padding-bottom: 6px; 
  padding-top: 10px; 
  font-weight: normal;
}

#submitBtnn
{
  font-size: 16px;
                box-sizing: border-box;
                background-image: url(/img/button-back.jpg);
                width: 140px;
                height: 35px;
                line-height: 35px;
                text-align: center; 
                color: #ffffff;
                float:right;
                text-shadow: none;
                border: 0px solid #705062;
                border-radius: 10px;
                margin: 10 20; 
}

.contact-form input,textarea
{
  width: 75% ;
  margin : 3 0; 
  box-shadow: 0 0 10px grey; 
  border-radius: 8px;
}

#invalid-ex
{
  font-size : 18px; text-align : center;padding: 90 0 0 0; 
}

#contact-form input,textarea
{
  width: 75% ;
  margin : 3 0; 
  box-shadow: 0 0 10px grey; 
  border-radius: 8px;
}

.g-recaptcha
{
  width: 302px;  
  margin: 3 auto 0 auto;
}

#body
{
  min-height: calc(100vh - 78px);
}

.index
{
  padding: 0 15 0 10;
}

.index-label
{
  font-family: 'Open Sans', sans-serif;
  font-size: 30px; 
  text-indent: 30px;
  margin: 10 0;
}

.index-desc
{
  font-family: 'Open Sans', sans-serif;
  font-size: 17px; 
  text-indent: 30px; 
  text-align: justify;
}

.index-services
{
  margin-top: 15px; 
  display: inline-block;
  text-align: center;
}

.index-services a
{
  display: inline-block; 
  margin:10px 5px;
}

.index-services a:hover
{
  color: blue;
}

.index-services img
{
  box-shadow: 0 0 15px; 
  border: 20px white; 
  padding:3px; 
  border-radius: 7px; 
  height:100px;
}

.index-services p
{
  text-align: center;
}


.best-works
{
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-top:20px;
}

@media (max-width: 940px)
{
  .service-img img
  {
    width: 100%;
  }
  .menu-button
  {
    width: 719px;
  }
  .banner-items
  {
    width: 640px;
  }
  .banner-img
  {
    padding: 9 9;
  }
  .banner-words
  {
    position: absolute;
    padding: 7% 0 0 20px;
  }
  .container{
    width: 100%;
  }
  .container-left
  {
    width: 69%;
  }
  .menu-right
  {
    width: 31%;
  }
}

@media (max-width: 790px)
{
  .menu-right
  {
    display: none;
  }
  .service-button
  {
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 1s ease-in-out; /** Firefox **/
    -o-transition: all 1s ease-in-out; /** Opera **/
    text-align: center;
    position: fixed;
    display: -webkit-box;
    overflow: hidden;
    width: 20px;
    right: 0px;
    bottom: 160px;
    z-index: 1001;
  }
  #filler
  {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    left: 0;
    top: 0;
    display: none;
  }
  .container-left
  {
    width: 100%;
  }
  .service-label
  {
    padding: 10 0;
  }
  .index
  {
    padding: 0 10;
  }
}

@media (max-width: 690px)
{
  .banner
  {
    height: unset;
  }
  .banner-items
  {
    width: 100%;
    height:unset;
  }
  .banner-img
  {
    width: 95%;
    position: unset;
  }
    .banner-words
  {
    width: 290px;
    margin: 0 auto;
    position: unset;
    float: unset;
    padding: 2em 0 2em 20px;
  }
}

@media (max-width: 460px)
{
  .services-label
{
  margin-left: 0;
}
.index-desc, .service-text, .description
{
    font-size:13px;
}
}

@media (max-width: 420px)
{
  .contact-form
  {
    width: -moz-calc(100% - 20px);
/* WebKit */
width: -webkit-calc(100% - 20px);
/* Opera */
width: -o-calc(100% - 20px);
/* Standard */
width: calc(100% - 20px);
    margin: 15 10;
  }
}

@media(max-width: 350px)
{
  .footer-text
  {
    padding: 0;
  }
}

@media (max-width:366px)
{
    .footer-text
    {
        padding: 0 25 20 25;
    }

}

.all-services a:hover {
      
  color: #4C85F0; 
}
.all-services a{
  color: black
}


.service
{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 10px;
    padding: 15px;
}