html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, 
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, 
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, 
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video { 

margin: 0; 
padding: 0; 
border: 0; 
font-size: 100%; 
vertical-align: baseline; 
} 
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, 
section { 
display: block; 
} 
body { 
line-height: 1.2; 
} 
ol { 
padding-left: 1.4em; 
list-style: decimal; 
} 
ul { 
padding-left: 1.4em 
list-style: square; 
} 
table { 
border-collapse: collapse; 
border-spacing: 0; 
}
.header{
}
.top-menu
{
  background-image: url(/img/mb2.jpg);
}
.logo{
  padding: 20px;
	margin: 0 auto 0 auto ; 
}

.contacts
{
  float:right; 
  color:white; 
  margin: 33 0;
  cursor:pointer;
}
.home-pic  {
	width:10px;
	height:10px;
}
.company-name
{
  float: left;
  height: 40px;
  padding: 35 10 35 0;
  color: white;
  font-size: 30px;
  font-family: 'Marmelad', sans-serif;
}

#selected
{
  border: 0px solid #ADC0CE;
  border-radius: 15px;
  background-color: white;
}

#none-copy
{
   -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer */
   -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none;
  cursor:pointer;
}

#none-copy-np
{
   -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer */
   -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none;
}


.banner
{
  background-image: url(/img/info-back.jpg); 
  background-size: cover; 
  height: 300px;
}
.banner-items
{
  width: 930px ; 
  margin: 0 auto;
}
.banner-img
{
   position: absolute; 
   padding: 9 0; 
}
.banner-img img
{
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  width: 100%;
}
.banner-words
{
   float: right; 
   padding: 5em 0 0 15; 
   width: 270px; 
   overflow: hidden;
}
.banner-words-1
{
  font-size: 37px;
  color: white; 
}

.banner-words-2
{
  font-size: 20px; 
  color: white ; 
  text-align: center;
}

.menu-right li {
    list-style-type: square;
    color:  #002FD1;
     /* Убираем маркеры у списка */
   }
/*.menu-right li:before {
    content: "҈ "; /* Добавляем в качестве маркера символ 
   }*/
/*.menu-right  li a:hover {
      border: 0px solid #ADC0CE;
  border-radius: 15px;
  background-color: grey;
  color:white;
}
*/
.pics {
  display: inline-block;
  
}
.image {
  display: inline-block;
  width: auto;
  height: 120px;
   box-shadow: 0 0 15px ;
}
.image input[type="checkbox"] {
  display: none;

}
.image input + label {
  display: block;
  width: auto;
  height: 120px;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
 /* background-image: url('http://lorempixel.com/800/600');*/
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
/*  transition: .4s;
*/
}
.image input:checked + label  {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;

/*  transform: translate(calc(2em + 160px - 100vw), calc(0px - 120px - 2em));
*/
  background-color: rgba(10,10,10,.9);
  background-size: 60vw;
  z-index: 99999;
}

.container
{
  width: 930px; 
  margin: 0 auto;
}

.container-left {
    box-shadow: 7px 0 10px -5px #333;
    float: left;
    width:640px;
}

.service-label
{
  font-size: 30px; 
  text-align: center; 
  padding: 30 0 20 0;
}

.service-img
{
  padding: 0 20;
}

.service-img img
{
  width: 600px; 
  box-shadow: 0 0 10px 
}

.service-text
{
  font-size: 17px; 
  padding: 20 20; 
  text-indent: 30px; 
  text-align: justify;
}

.fnk-crm
{
  font-size: 20px; 
  padding: 0 20; 
  text-align: justify; 
  font-family: 'Marmelad', sans-serif;
}

.customers-img
{
  margin: 50 0;
}

.customers-img img
{
  height:100px; 
  float:left; 
  margin: 20; 
}

.works-text
{
  font-size: 30px; 
  text-align: center; 
  padding: 0 0 20 0
}

@media (max-width: 940px)
{
  .contacts
  {
    display: none;
  }
  .menu-button
  {
    width: 719px;
  }
  .banner-items
  {
    width: 640px;
  }
  .banner-img
  {
    padding: 9 9;
  }
  .banner-words
  {
    position: absolute;
    padding: 7em 0 0 20px;
  }
}

@media (max-width: 690px)
{
  .banner
  {
    height: unset;
  }
  .banner-items
  {
    width: 100vw;
    height:unset;
  }
  .banner-img
  {
    width: 95vw;
    position: unset;
  }
    .banner-words
  {
    width: 290px;
    margin: 0 auto;
    position: unset;
    float: unset;
    padding: 2em 0 2em 20px;
  }
}
.all-services a:hover {
      
  color: #4C85F0; 
}
.all-services a{
  color: black
}


.service
{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 10px;
    padding: 15px;
}