html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, 
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, 
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, 
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video { 

margin: 0; 
padding: 0; 
border: 0; 
font-size: 100%; 
vertical-align: baseline; 
} 
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, 
section { 
display: block; 
} 
body { 
line-height: 1.2; 
} 
ol { 
padding-left: 1.4em; 
list-style: decimal; 
} 
ul { 
padding-left: 1.4em 
list-style: square; 
} 
table { 
border-collapse: collapse; 
border-spacing: 0; 
}
.header{
}
.top-menu
{
  background-image: url(/img/mb2.jpg);
}
.logo{
  padding: 20px;
	margin: 0 auto 0 auto ; 
}

.contacts
{
  float:right; 
  color:white; 
  margin: 33 0;
  cursor:pointer;
}
.home-pic  {
	width:10px;
	height:10px;
}
.company-name
{
  float: left;
  height: 40px;
  padding: 35 10 35 0;
  color: white;
  font-size: 30px;
  font-family: 'Marmelad', sans-serif;
}

#selected
{
  border: 0px solid #ADC0CE;
  border-radius: 15px;
  background-color: white;
}

#none-copy
{
   -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer */
   -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none;
  cursor:pointer;
}
.banner
{
  background-image: url(/img/info-back.jpg); 
  background-size: cover; 
  height: 300px;
}
.banner-items
{
  width: 930px ; 
  margin: 0 auto;
}
.banner-img
{
   position: absolute; 
   padding: 9 0; 
}
.banner-img img
{
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  width: 100%;
}
.banner-words
{
   float: right; 
   padding: 5em 0 0 15; 
   width: 270px; 
   overflow: hidden;
}
.banner-words-1
{
  font-size: 37px;
  color: white; 
}

.banner-words-2
{
  font-size: 20px; 
  color: white ; 
  text-align: center;
}

@media (max-width: 940px)
{
  .contacts
  {
    display: none;
  }
  .menu-button
  {
    width: 719px;
  }
  .banner-items
  {
    width: 640px;
  }
  .banner-img
  {
    padding: 9 9;
  }
  .banner-words
  {
    position: absolute;
    padding: 9em 0 0 30px;
  }
  
}